.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
DAW2/IA/.venv/*

# Built Visual Studio Code Extensions
*.vsix

.venv/
/DAW2/DevServer/DjangoAdmin/venv
*.pyc
/DAW2/DevServer/DjangoAdmin/.vscode
