body {
    font-family: fantasy;
    background-image: url("../../media/bg.png");
    font-size: 24px;
    color: blue;
    text-align: center;
}
head {
    border-radius: 270px;
    padding: 20px;
    background-color: grey;
}
button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: green;
    background-size: contain;
    background-repeat:repeat;
    color: rgb(0, 0, 0);
    border-width: 4px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;

}

div.llista {
    text-align: center;
}

ul.ralist {
    border-radius: 270px;
    background-image: url("../../media/moontexture.jpg");
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: inline-block;
    text-align: left;
}