<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'personatges/personatge.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ personatge }}</title>
</head>
<body>
    <header>
        <h1>{{ personatge }}</h1>
    </header>
    <main>
        <img src="{% static 'personatges/img/' %}{{ personatge }}.png"/>
        <p>{{ frase }}</p>
    </main>
    <a href="/personatges/home" class="back-button">← Tornar al home</a>
</body>
</html>